<html>
	<head>

		<script type='text/javascript' src='/static/jquery-1.8.0.min.js'></script>	
		<script type='text/javascript' src='/static/spectrum.js'></script>
		<script type='text/javascript' src='/static/sse.js'></script>

		<link rel='stylesheet' href='/static/spectrum.css' />

		<script type="text/javascript">
			window.onbeforeunload = function (){
					sseFix0.close();
					sseFix1.close();
					sseFix2.close();
					sseFix3.close();
					sseFix4.close();
					sseFix5.close();
				};
		</script>

	</head>

	<body>

		<input type='text' id='fix0'>
		<input type='text' id='fix1'>
		<input type='text' id='fix2'>
		<input type='text' id='fix3'>
		<input type='text' id='fix4'>
		<input type='text' id='fix5'>
		<script type='text/javascript' src='/static/lights.js'></script>

	</body>
</html>
