<html>
	<head>

		<script type='text/javascript' src='/static/jquery-1.8.0.min.js'></script>	
		<script type='text/javascript' src='/static/spectrum.js'></script>
		<script type='text/javascript' src='/static/sse.js'></script>
		<script type="text/javascript" src='/static/audiocontrols.js'></script>

		<link rel='stylesheet' href='/static/spectrum.css' />

		<script type="text/javascript">
			window.onbeforeunload = function (){
					sse.close();
				};
		</script>

	</head>

	<body>

		<input type='text' id='fix0'>
		<button onclick=copyColor('0');>Copy</button>
		<button onclick=pasteColor('0');>Paste</button>
		<br>

		<input type='text' id='fix1'>
		<button onclick=copyColor('1');>Copy</button>
		<button onclick=pasteColor('1');>Paste</button>
		<br>

		<input type='text' id='fix2'>
		<button onclick=copyColor('2');>Copy</button>
		<button onclick=pasteColor('2');>Paste</button>
		<br>

		<input type='text' id='fix3'>
		<button onclick=copyColor('3');>Copy</button>
		<button onclick=pasteColor('3');>Paste</button>
		<br>	

		<input type='text' id='fix4'>
		<button onclick=copyColor('4');>Copy</button>
		<button onclick=pasteColor('4');>Paste</button>
		<br>

		<input type='text' id='fix5'>
		<button onclick=copyColor('5');>Copy</button>
		<button onclick=pasteColor('5');>Paste</button>
		<br>	

		<h5>Master Control:</h5><p>
		<button onclick=allOff();>Off</button>
		<button onclick=allOn();>On</button>

		<script type='text/javascript' src='/static/lights.js'></script>

		<h3>Faders</h3><p>

		<label>Backstage</label>
		<input type=range style='-webkit-appearance: slider-vertical' id='backstageFader' min=0 max=100 value=0 step=1 oninput="changeFader('backstage', this.value);">

	</body>
</html>
