<html>

	<head>
		<script type="text/javascript" src='/static/jquery-1.8.0.min.js'></script>	
		<script src='/static/spectrum.js'></script>
		<link rel='stylesheet' href='/static/spectrum.css' />			
		<script type="text/javascript" src='/static/streams.js'></script>

		<script type="text/javascript">

			function change(value) {
				var xmlhttp;
				xmlhttp = new XMLHttpRequest();
				xmlhttp.open("GET", '/' + value, true);
				xmlhttp.send();
			}

			// function reqListener () {
			// 	document.querySelector('#fader').value = this.responseText;
			// 	document.querySelector('#fadervalue').value = this.responseText;
			// }

			//xmlhttp = new XMLHttpRequest();
			//xmlhttp.onload = reqListener;
			//xmlhttp.open('GET', '/current', true);
			//xmlhttp.send();	

		</script>

	</head>

	<body>
	
		<label for=fader>Fader</label>
		<input type=range style='-webkit-appearance: slider-vertical' id='fader' min=0 value= max=100 step=1 oninput="change(this.value); outputUpdate(value);">
		<output for=fader id='fadervalue'>0</output>

		<script>
			function outputUpdate(value) {
				document.querySelector('#fadervalue').value = value;
			}
		</script>

		<p>
		<input type='text' id="fix0">
		<input type='text' id="fix1">
		<input type='text' id="fix2">
		<input type='text' id="fix3">
		<input type='text' id="fix4">
		<input type='text' id="fix5">
		<script type="text/javascript" src='/static/colors.js'></script>

	</body>

</html>
